.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  width: 50%;
}